<!DOCTYPE html>
<html>
<head>
<title>Font Library</title>
<meta charset="utf-8">
<link rel="stylesheet" href="assets/css/normalize.css">
<link rel="stylesheet" href="assets/css/style.css">
<script src="node_modules/jquery/dist/jquery.min.js"></script>
<script src="node_modules/vue/dist/vue.min.js"></script>
<script src="node_modules/webfontloader/webfontloader.js"></script>
</head>
<body>
<div id="browse-font">
	<div class="sidebar">
		<div class="search">
			<input type="text" placeholder="Search" autofocus v-model="search">
		</div>
		<div class="categories">
			<div class="category" v-for="(category, index) in categories">
				<input type="checkbox" v-model="selectedCategories" :value="category[0]" :id="'field-category-' + index">
				<label :for="'field-category-' + index">{{category[1]}}</label>
			</div>
		</div>
	</div>
	<div class="stage" @scroll="lazyLoad">
		<div class="inner">
			<div class="fonts">
				<div class="font" v-for="(font, index) in stageFonts" :key="font.index" :class="{loaded: font.loaded}">
					<div class="variants">
						<span v-for="(variant, index) in font.variants" :key="variant.index">
							<a href="#" class="variant" :class="variant === font.variant ? 'active' : ''" @click.prevent="setVariant(variant, font)">{{getVariant(variant)}}</a>
						</span>
					</div>
					<div class="name" :style="{'font-family': font.family, 'font-style': font.style, 'font-weight': font.weight}">{{font.family}}</div>
					<div class="category">{{font.category}}</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script src="assets/js/script.js"></script>
</body>
</html>