::-moz-placeholder {
	opacity: 1;
}

html {
	height: 100%;
}

body,
div,
header,
nav,
section,
article,
footer,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
span,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
legend,
label,
input,
select,
textarea,
button {
	box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
dl,
dd,
ol,
ul,
hr,
fieldset,
input,
select,
textarea,
button {
	margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: inherit;
}

ol,
ul,
fieldset,
legend,
input,
textarea,
button,
th,
td {
	padding: 0;
}

a,
input,
select,
textarea,
button,
[contenteditable],
[tabindex] {
	outline-width: 0;
}

a {
	color: inherit;
	-webkit-tap-highlight-color: transparent;
	text-decoration: none;
}

a img {
	border-width: 0;
}

hr {
	border-style: solid;
	border-width: 1px 0 0;
}

img,
video,
iframe {
	display: block;
}

fieldset,
iframe {
	border-width: 0;
}

input[type="button"],
input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="file"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="reset"],
input[type="search"],
input[type="submit"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
select,
textarea,
button {
	border-radius: 0;
	border-width: 0;
	color: inherit;
	font: inherit;
}

input[type="email"],
input[type="file"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="url"],
textarea {
	-webkit-appearance: none;
	background-color: transparent;
	display: block;
	width: 100%;
}

input[type="button"],
input[type="reset"],
input[type="submit"],
button {
	-webkit-appearance: button;
	cursor: pointer;
	white-space: nowrap;
}

input[type="image"] {
	border-radius: 0;
}

button {
	background-color: transparent;
	border-width: 0;
}

table {
	border-collapse: collapse;
}